[submodule "Tourqe/vendor/spdlog"]
	path = Tourqe/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tourqe/vendor/GLFW"]
	path = Tourqe/vendor/GLFW
	url = https://github.com/glfw/glfw
