[submodule "Tourqe/vendor/spdlog"]
	path = Tourqe/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tourqe/vendor/glfw"]
	path = Tourqe/vendor/glfw
	url = https://github.com/TheCherno/GLFW
